
<div>
  Clique duas vezes sobre o ícone da pasta para abrir
  Arraste um ou mais arquivos para a pasta para fazer o upload.
</div>
<app-file-explorer></app-file-explorer>
<div *ngIf="folder">
  <h1>Pasta Selecionada</h1>
  <button (click)="folder = null">Fechar</button>
  <div>
    Id: {{ folder.id }}
  </div>
  <div>
    Nome: {{ folder.name }}
  </div>
  <div>Itens: </div>
  <div *ngFor="let file of folder.files">
    {{ file.name }}
  </div>
  <div *ngIf="folder.files.length === 0">
    Pasta Vazia
  </div>
</div>
